/* 1. Body */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: #b59451;
}

/* 2. Headings */
h1, h2, h3 {
  margin-bottom: 0;
}

/* 3. ID selector */
#company-name {
  font-size: 1.5rem;
}

/* 4. Header and Footer */
header, footer {
  background-color: #a52121;
  color: #e9c9d8;
}

/* 5. Wrapper class */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 2em;
}

/* 6. All list types */
ul, ol {
  padding: 0;
  list-style: none;
}

/* 7. Navigation links */
nav a {
  color: #DEC9E9;
  text-decoration: none;
}

/* 8. Section adjacent to #intro */
#intro + section {
  background-color: #000;
  color: #DEC9E9;
}

/* 9. Image directly inside article */
article > img {
  width: 150px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-top: 1em;
}

/* 10. Even numbered list items in ordered list */
ol li:nth-child(even) {
  color: #dc33dc;
}

/* 11. Image directly inside main */
main > img {
  width: 100%;
}
